body{
	background-image: url("images/circuito-pilates-destaque.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}
.container-fluid{
	padding: 0;
}

#circuito{
	width: 100%;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 0;
}

#circuito-header, #circuito-content{
	margin-right: 30px;
	margin-left: 30px;
}

#circuito-header>h1{
	margin-top: 0;
	padding-top: 50px;
}

#circuito-header>p{
	padding-top: 30px;
	padding-bottom: 50px;
}
video{
	padding-bottom: 50px;
	width: 100%;
	height: auto;
}
.form-control{
	background-color: transparent;
	color: white;
	border-color: white;
}

#cta-phone{
	background-color: #c1a961;
	color: #5c4126;
	
}